/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.image{
    background-image: url("../image/tt.png");
    background-size: cover;
    width: 100%;
    height: 324px;
    background-repeat: no-repeat;
}
/* .image::before{
    content: ' ';
    background-color: #000000 ;
    width: 100%;
    height: 324px;
    display: block;
    opacity: 30%;
} */
.navigation{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1088PX;
    margin-left: 139PX;
    margin-right: 139PX;
}
.ul{
    font-size: 14px;
    color: #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 30px;
    width: 100%;
}
.li{
    margin-right: 50px;
    font-size: 12px;
}
.zeta{
    margin-right:439px;
    font-size: 14px;
}
.home-li{
    color: #5863F8;
}
.center{
    margin-left: 139PX;
    margin-top: 136px;
    margin-bottom: 85px;
    width: 177px;
    color: #FFFFFF;
    text-align: left;
}
.contact{
    font-size: 42px;
}
.home{
    margin-top: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:start;
        -ms-flex-pack:start;
            justify-content:flex-start;
}
.home1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 19px;
}
.home1::after{
    content: ' ';
    height: 19px;
    width: 2px;
    background-color: #FFFFFF;
    margin-left: 15px;
    display: inline-block;
}
.home2{
    margin-left: 15px;
    height: 19px;
}

/* პირველი სექცია */
.maps{
    margin-top: 50px;
    width: 100%;
    max-width: 1088px;
    height: 286px;
    margin-left: 139px;
    margin-right: 139px;
    margin-bottom: 56px;
}
.block{
    width: 378px;
    height: 140px;
    margin-left: 139px;
}
.contact2{
    font-size: 14px;
    color: #5863F8;
    font-weight: bold;
}
.contact3{
    font-size: 42px;
    color: #000000;
    margin-bottom: 50px;
    font-weight:bolder;
}
/* მეორე სექცია */
.section2{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 139px;
    margin-right: 139px;
    width: 1088px;
    height: 288px;
}
.left-block{
    width: 720px;
    height: 280px;
    background-color: #F8F8F8;
    margin-right: 16px;
}
.left-block::-webkit-input-placeholder{
    padding-left: 20px;
    padding-top: 20px;
}
.left-block::-moz-placeholder{
    padding-left: 20px;
    padding-top: 20px;
}
.left-block:-ms-input-placeholder{
    padding-left: 20px;
    padding-top: 20px;
}
.left-block::-ms-input-placeholder{
    padding-left: 20px;
    padding-top: 20px;
}
.left-block::placeholder{
    padding-left: 20px;
    padding-top: 20px;
}
.right-block{
    width: 352px;
    height: 280px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.input{
    background-color: #F8F8F8;
    width: 100%;
    height: 60px;
    margin-bottom: 16px;
}
.input::-webkit-input-placeholder{
    font-size: 13px;
    color: #CECECE;
    padding-left: 20px;
}
.input::-moz-placeholder{
    font-size: 13px;
    color: #CECECE;
    padding-left: 20px;
}
.input:-ms-input-placeholder{
    font-size: 13px;
    color: #CECECE;
    padding-left: 20px;
}
.input::-ms-input-placeholder{
    font-size: 13px;
    color: #CECECE;
    padding-left: 20px;
}
.input::placeholder{
    font-size: 13px;
    color: #CECECE;
    padding-left: 20px;
}
.submit{
    width: 100%;
    height: 60px;
    background-color: #5863F8;
    color: #FFFFFF;
    border: none;
}
.submit1{
    padding-left: 10px;
    font-size: 15px;
    width: 5px;
    height: 5px;
}
.section22{
    width: 1108px;
    height: 170px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 129px;
    margin-right: 129px;
    margin-top: 5px;
    margin-bottom: 90px;
}
.section333{
    width: 350px;
    height: 147px;
    text-align: center;
    margin-top: 50px;
}
.email{
    font-size: 18px;
    color: #000000;
    margin-top: 15px;
    margin-bottom: 5px;
}
.example{
    font-size: 14px;
    color: #B1B1B1;
}
.section222{
    height: 135px;
    width: 565px;
    margin-left: 129px;
    margin-bottom: 50px;
}
.photo{
    font-size: 14px;
    color: #5863F8;
    margin-top: 1px;
}
.see{
    font-size: 42px;
    color: #000000;
    margin-top: 1px;
}
.last{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
/* ფუტერი */
.footer{
    background-color: #121212;
}
.blockk{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.block1{
    width: 260px;
    height: 191px;
    margin-right: 200px;
    margin-top: 90px;
    margin-bottom: 54px;
    margin-left: 139px;
}
.block2{
    width: 103px;
    height: 155px;
    margin-right: 81px;
    margin-top: 90px;
    margin-bottom: 90px;
}
.block3{
    width: 78px;
    height: 155px;
    margin-right: 106px;
    margin-top: 90px;
}
.block4{
    width: 198px;
    height: 145px;
    margin-top: 90px;
    margin-right: 201px;
    margin-bottom: 100px;
}
.blockkk{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.zeta{
    font-size: 24px;
    color: #FFFFFF;
    width: 148px;
}
.useful{
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.hotel{
    font-size: 14px;
    color: #B1B1B1;
    margin-top: 20px;
    margin-bottom: 20px;
}
.blogg{
    font-size: 14px;
    color: #5863F8;
    margin-bottom: 10px;
}
.exa{
    font-size: 14px;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.portfolio{
    font-size: 14px;
    color: #5863F8;
    margin-right: 139px;
    margin-bottom: 40px;
}
.copy{
    font-size: 14px;
    color: #5863F8;
    margin-left: 139px;
    margin-bottom: 40px;
}
.icons{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}
.fa-facebook{
    width: 35px;
    height: 35PX;
    background-color:  #3B5998;
}
.fa-twitter{
    width: 35px;
    height: 35PX;
    background-color:  #55ACEE;
}
.fa-google-plus-g{
    width: 35px;
    height: 35PX;
    background-color:  #DC4E41;
}
.iconss{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}
.fa-envelope{
    margin-right: 17px;
    color: #5863F8;
}
.fa-phone{
    margin-right: 17px;
    color: #5863F8;
}
.fa-location-pin{
    margin-right: 17px;
    color:  #5863F8;
}